# Ignore everything by default
/*

# Exception for allowed directories
!/seisen-nextjs/
!/.vscode/
!/.gitignore
!/README.md

# Next.js specific inside the subfolder
seisen-nextjs/node_modules/
seisen-nextjs/.next/
seisen-nextjs/out/
seisen-nextjs/build/
seisen-nextjs/.env*
